---
title: Accounts
---

<div class="container">
    <h1>Konton</h1>
    <ul class="posts">

        {% if site.domain_site %}
        <h3>Domän</h3>
        <table>
            <tr>
                <td>domän: </td>
                <td>{{ site.domain_site }}</td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>{{ site.domain_email }}</td>
            </tr>
        </table>
        {% endif %}

        {% if site.github_account %}
        <h3><a href="http://github.com">Github</a></h3>
        <table>
            <tr>
                <td>username: </td>
                <td>{{ site.github_account }}</td>
            </tr>
            <tr>
                <td>password: </td>
                <td>{{ site.github_password }}</td>
            </tr>
        </table>
        {% endif %}

        {% if site.flickr_account %}
        <h3><a href="http://flickr.com">Flickr</a></h3>
        <table>
          <tr>
            <td>username: </td>
            <td>{{ site.flickr_account }}</td>
          </tr>
          <tr>
            <td>password: </td>
            <td>{{ site.flickr_password }}</td>
          </tr>
        </table>
        {% endif %}

        {% if site.embed_account %}
        <h3><a href="http://embed.ly">Embedly</a></h3>
        <table>
          <tr>
            <td>username: </td>
            <td>{{ site.embed_account }}</td>
          </tr>
          <tr>
            <td>password: </td>
            <td>{{ site.embed_password }}</td>
          </tr>
        </table>
        {% endif %}

        {% if site.disqus_username %}
        <h3><a href="http://disqus.com">Disqus</a></h3>
        <table>
          <tr>
            <td>username: </td>
            <td>{{ site.disqus_username }}</td>
          </tr>
          <tr>
            <td>password: </td>
            <td>{{ site.disqus_password }}</td>
          </tr>
        </table>
        {% endif %}

        {% if site.tinyletter_username %}
        <h3><a href="http://tinyletter.com">tinyletter</a></h3>
        <table>
          <tr>
            <td>username: </td>
            <td>{{ site.tinyletter_username }}</td>
          </tr>
          <tr>
            <td>password: </td>
            <td>{{ site.tinyletter_password }}</td>
          </tr>
        </table>
        {% endif %}

    </ul>
</div>
