<!--
@Author: Andreee "DevelDoe" Ray <andreeray>
@Date:   2017-02-27T13:28:01+01:00
@Email:  me@andreeray.se
@Filename: _footer.html
@Last modified by:   andreeray
@Last modified time: 2017-02-27T15:11:56+01:00
-->



<footer id=footer class=clearfix>
    <section id=insta >
        <h2>Instagram</h2>
        <div id=instagram>
            <img id=insta-img src="/assets/themes/naut/img/insta.jpg">
        </div>

    </section>


<section id=about>
    <h2>About</h2>
    <p>{{site.data.naut.settings.description}}</p>
</section>

    <section id=contact>
        <h2>Contact</h2>
        <address>
            <table>
                <tr><th>ADRESS</th><td>Karl Johansgatan 1-3<br>414 59 Göteborg</td></tr>
                <tr><th>E-POST</th><td>{{site.data.naut.settings.email}}</td></tr>
                <tr><th>TEL</th><td>+46 707 702 435</td></tr>
                <!-- <tr><th>Socialt</th><td id=social><i class="fa fa-linkedin" aria-hidden="true"></i><a target=_blank href="https://www.instagram.com/the_wird/"><i class="fa fa-instagram" aria-hidden="true"></i></a></td></tr> -->
            </table>
        </address>
    </section>


</footer>
