<section class="main_menu">
    <div class="content">
        <nav id="menu">
            <a class="toggle_link noline"><i class="fa fa-close fa-lg"></i></a>
            <div id=logo><a href=/>
                 <span class=bold><i class="fa fa-anchor" aria-hidden="true"></i>Naut</span>
                 <span class=slogo>koncepttveckling</span></a>
            </div>
            <!-- <ul>
            <li><a href="{{ site.baseurl | replace: '//', '/'  }}/">home</a>
            <li><a href="{{ site.baseurl | replace: '//', '/' }}/case">Case</a>
            <li><a href="{{ site.baseurl | replace: '//', '/' }}/education">edu</a>
            <li><a href="{{ site.baseurl | replace: '//', '/' }}/about">about</a>
            </ul> -->
        </nav>
        <nav class="iconnav">
            <ul>
                {% if site.tumblr %}
                    <li class="social">
                        <a href="{{ site.tumblr }}" class="tumblr"><i class="fa fa-tumblr"></i></a>
                    </li>
                {% endif %}
                {% if site.pinterest %}
                    <li class="social">
                        <a href="{{ site.pinterest }}" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </li>
                {% endif %}

                {% if site.instagram %}
                    <li class="social">
                        <a href="{{ site.instagram }}" class="instagram"><i class="fa fa-instagram"></i></a>
                    </li>
                {% endif %}

                {% if site.twitter %}
                    <li class="social">
                        <a href="{{ site.twitter }}" class="twitter"><i class="fa fa-twitter"></i></a>
                    </li>
                {% endif %}

                {% if site.facebook %}
                    <li class="social">
                        <a href="{{ site.facebook }}" class="facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                {% endif %}

                {% if site.youtube %}
                    <li class="social">
                        <a href="{{ site.youtube }}" class="youtube"><i class="fa fa-youtube"></i></a>
                    </li>
                {% endif %}

                {% if site.vimeo %}
                    <li class="social">
                        <a href="{{ site.vimeo }}" class="vimeo"><i class="fa fa-vimeo-square"></i></a>
                    </li>
                {% endif %}

                {% if site.soundcloud %}
                    <li class="social">
                        <a href="{{ site.soundcloud }}" class="soundcloud"><i class="fa fa-soundcloud"></i></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <a href='#menu' class="toggle_link noline">
            <i class="fa fa-navicon"></i>
        </a>
    </div>
</section>

<style>
#logo{
    position: relative;
    line-height: 4em;
    font-family: 'Bungee Hairline', cursive;
}
#logo span.bold{
    padding: 0;
    margin: 0;
    display: block;
    font-size: 2em;
    font-weight: 800;
}
#logo span.slogo{
    position: absolute;
        top: 16px;
        left: 45px;
        padding: 0;
        margin: 0;
        display: block;
        font-size: 0.48em;
}
#menu>ul{
    display: inline-block;
    font-size: 1em;
}

</style>
